#errormsg{
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ff0000;
    background: #ffffff;
}
#priceelement {
    text-align: center;
    color: blue;
}
#buyheader {
    padding: 10px;
    font-size: 12px;  
}
#sellheader {
    padding: 10px;
    font-size: 12px;  
}

#loginform{
    padding: 50px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    background: #f2f2f2;
}

p{
    padding: 50px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    background: #f2f2f2;
}
.even {
    background: #D0CACA;
}
table{
    padding: 12px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.red {
    color: red; 
}

.green {
    color: green;
}

.back {
    color: black;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#chart svg {
  height: 400px;
}