



<div ng-controller="DemoCtrl as ctrl" layout="column" ng-cloak>
  <p id="buyheader">Place a buy order
  </p>
  <md-content class="md-padding">
    <form ng-submit="$event.preventDefault()">
      <md-autocomplete
      md-no-cache="ctrl.noCache"
      md-selected-item="ctrl.selectedItem"
      md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
      md-search-text="ctrl.searchText"
      md-selected-item-change="ctrl.selectedItemChange(item)"
      md-items="item in ctrl.querySearch(ctrl.searchText)"
      md-item-text="item.display"
      md-min-length="0"
      placeholder="Enter a ticker symbol!">
        <md-item-template>
          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">//item.display//</span>
        </md-item-template>
        <md-not-found>
          No states matching "//ctrl.searchText//" were found.
          <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
        </md-not-found>
      </md-autocomplete>
    </form>
  </md-content>

  <label ng-hide="!showPrice()" id="priceelement" class="control-label"> // pps | currency // per share
  </label>
  <input type="number" placeholder="How many shares?" ng-hide="!showPrice()" ng-model="numSharesToBuy" ng-change = "numSharesEntered()" class="form-control"/>
  <label ng-hide = "priceper.share==0 || isNaN(priceper.share)" > Cost = // costOfBuying | currency //
  </label>
  </br>
  <button ng-disabled="!showBuySubmitButton() || (costOfBuying > cash)" ng-click="onBuySubmit()" class="btn btn-default" > Submit Buy Order
  </button>
  </br>
</div>