{% extends "base.template.html" %}
{% block child_head_elements %} 
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>


<script src="scripts/home/stocks.js" type="text/javascript"> </script>
<script src = "scripts/home/NavigationController.js" type="text/javascript"> </script>
<script src = "scripts/home/StockPriceController.js" type="text/javascript"> </script>
<script src = "scripts/home/DemoController.js" type="text/javascript"> </script>

{% endblock %}


{% block title%} {{ name }}'s Home{% endblock %}


{% block content %}

<div  ng-controller = "NavigationController">

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
              <p class="navbar-brand">Stocks Hero</p>
            </div>

            


            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as <mark>{{ name }} </mark> <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#" ng-click="logout()">Sign out</a></li>
                      </ul>
                    </li>
                  </ul>
            </div>
        </div>
    </nav>
    <div class="alert alert-success" role="alert" ng-hide="!logoutmessage">
        <p style="color: green">//logoutmessage//</p>
    </div>
</div>

<div ng-controller="StockPriceController" class="container">
    <label ng-hide="!showError()" id="errormsg"> // errorMessage// </label>
    <br/>
    {% include "autocomplete.template.html" ignore missing %}
    </br>
    <label class="control-label">Cash Available for Trading:</label>
    <label class="control-label" ng-class = "{green: true}">// cash | currency//</label>
    </br>
    <label class="control-label">Realized gain so far:</label>
    <label class="control-label" ng-class="{red: (gain < 0), green: (gain > 0)}">
       // gain | currency //
    </label>

    <div ng-hide="(positions.length==0)">
        <p id="buyheader"> Place a sell order </p>
        <div class="container">
                <label ng-hide="!showSellError()" id="errormsg"> // sellErrorMessage // </label>
            </br>

            <select ng-model="sellsymbol" ng-change="sellsymbolChanged()" 
            ng-options="stock as stock.symbol for stock in positions" class="form-control">
                <option value="" disabled selected>Select a stock to sell</option>
            </select>

            <label id="priceelement" ng-hide="!sellsymbol" class="control-label"> // pricepersharesell | currency // per share </label>

            <input type="number" placeholder="How many shares?" ng-hide="!sellsymbol" ng-model="numSharesToSell" ng-change = "numSharesToSellEntered()" min="1" max="//maxSharesSellable//" class="form-control"/>
            </br>
            <label class="control-label" ng-hide="!proceedsFromSelling"> Proceeds = // proceedsFromSelling | currency // </label>
            </br>
            <button ng-click="onSellSubmit()" class="btn btn-default" ng-disabled="!proceedsFromSelling || (proceedsFromSelling<0)"> Submit Sell Order</button>
        </div>

        </br>


        <div class="col-md-6" >
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><a href="" ng-click="predicate = 'symbol'; reverse=false">Symbol name</a> (<a href="" ng-click="predicate = '-symbol'; reverse=false">^</a>)</th>
                        <th>Company</th>
                        <th><a href="" ng-click="predicate = 'shares'; reverse=false">Shares</a>(<a href="" ng-click="predicate = '-shares'; reverse=false">^</a>)</th>
                        <th><a href="" ng-click="predicate = 'averagePrice'; reverse=false">Average Price</a>(<a href="" ng-click="predicate = '-averagePrice'; reverse=false">^</a>)</th>
                        <th><a href="" ng-click="predicate = 'currentPrice'; reverse=false">Current Price</a>(<a href="" ng-click="predicate = '-currentPrice'; reverse=false">^</a>)</th>
                        <th><a href="" ng-click="predicate = 'gain'; reverse=false">Gain/Loss</a>(<a href="" ng-click="predicate = '-gain'; reverse=false">^</a>)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="position in positions | orderBy:predicate:reverse"  ng-class="{red: position.changeColor, green: !position.changeColor}" ng-class-even="'even'">
                        <td>// position.symbol //</td>
                        <td>// position.company //</td>
                        <td>// position.shares //</td>
                        <td>// position.averagePrice | currency//</td>                        
                        <td>// position.currentPrice | currency//</td>
                        <td>// position.gain | currency//</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
