{% extends "base.template.html" %}

{% block child_head_elements %} 
<script src="scripts/login-module.js"> </script>
<script src="scripts/login-controller.js"> </script>
<script src="scripts/login-directive.js"> </script>
<link rel="stylesheet" type="text/css" href="/css/login.css" />
{% endblock %}

{% block title%} Login Page{% endblock %}
{% block content %}
<div ng-controller="LoginController as registration" class="container">



  <div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img src="/images/brand.png" alt="Brand" height=25 width=25>
          </a>
        </div>
      

      <ul class="navbar-right">
        <button ng-click="toggleLoginModal()" type="button" class="btn btn-default navbar-btn">Sign in</button>

        <a ng-click="toggleVerificationModal()" >Verify</a>

      </ul>
</div>
    </nav>
  </div>

  <div>

  </div>
  <div class="jumbotron">
    <div class="container">
      <h1>Stocks Hero</h1>
      <p> Let's play!</p>
      <button ng-click="toggleRegistrationModal()" class="btn btn-default">Register</button>
    </div>
  </div>
  {% include "modal.template.html" ignore missing %}

<!-- <div ng-app="myApp">
<div ng-controller="myCtrl">
<nvd3 options="options" data="data"></nvd3>
</div>
</div> -->

</div>
{% endblock %}