<modal title="Login form" visible="showLoginModal">
  <form novalidate class="login-form" name="loginForm">
    <div class="alert alert-danger" role="alert" ng-hide="!errorMessage">
      //errorMessage//
    </div>
    <div class = "alert alert-success" ng-hide="!infoMessage">
      //infoMessage//
    </div>
    <div class="form-group">
      <label >Username</label>
      <input type="text" id="username" placeholder="Enter username" ng-model="user.username" name="username" required class="form-control"/>
      <div ng-messages="loginForm.username.$error" ng-messages-include="messages.html.template"></div>
    </div>

    <div class="form-group">
      <label >Password</label>
      <input type="password" id="password" placeholder="Password" ng-model="user.password" name="password" required class="form-control"/>
      <div ng-messages="loginForm.password.$error" ng-messages-include="messages.html.template"></div>
    </div>
    <button type="submit" class="btn btn-default" ng-click="login()">Login</button>
  </form>
</modal>

<modal title="Login form" visible="showVerificationModal">
  <form novalidate class="login-form" name="verificationForm">
    <div class="alert alert-danger" role="alert" ng-hide="!errorMessage">
      //errorMessage//
    </div>
    <div class = "alert alert-success" ng-hide="!infoMessage">
      //infoMessage//
    </div>
    <div class="form-group">
      <label >Username</label>
      <input type="text" id="username" placeholder="Enter username" ng-model="verification.username" name="username" required class="form-control"/>
      <div ng-messages="verificationForm.username.$error" ng-messages-include="messages.html.template"></div>
    </div>
    <div class="form-group">
      <label >Verification Code</label>
      <input type="text" id="verificationcode" placeholder="Enter the code you received in email" ng-model="verification.code" name="verificationcode" required class="form-control"/>
      <div ng-messages="verificationForm.verificationcode.$error" ng-messages-include="messages.html.template"></div>
    </div>
    <button type="submit" class="btn btn-default" ng-click="verify()">Verify</button>
  </form>
</modal>

<modal title="Registration form" visible="showRegistrationModal">
  <form name="registrationForm" novalidate 
  ng-submit="registration.submit(registrationForm.$valid)">
  <div class="alert alert-danger" role="alert" ng-hide="!errorMessage">
    //errorMessage//
  </div>
  <div class = "alert alert-success" ng-hide="!infoMessage">
    //infoMessage//
  </div>
  <div class="form-group">
    <label>User Name</label>
    <input type="text" name="username" class="form-control" ng-model="registration.user.username" required />
    <div ng-messages="registrationForm.username.$error" ng-messages-include="messages.html.template"></div>
  </div>
  <div class="form-group">
    <label>Name</label>
    <input type="text" name="name" class="form-control" ng-model="registration.user.name" required />
    <div ng-messages="registrationForm.name.$error" ng-messages-include="messages.html.template"></div>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" name="email" class="form-control" ng-model="registration.user.email" required />
    <div ng-messages="registrationForm.email.$error" ng-messages-include="messages.html.template"></div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" name="password" class="form-control" ng-model="registration.user.password" required />
    <div ng-messages="registrationForm.password.$error" ng-messages-include="messages.html.template"></div>
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" name="confirmPassword" class="form-control" 
    ng-model="registration.user.confirmPassword" 
    required compare-to="registration.user.password" />
    <div ng-messages="registrationForm.confirmPassword.$error" ng-messages-include="messages.html.template">
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default" ng-click="createAccount()">Register!</button>
  </div>
  <button ng-click="toggleRegistrationModal()" class="btn btn-link">Cancel</button>
</form>
</modal>